# Ignore files inside image directories but keep the directories
imgBase/*
!imgBase/.gitkeep
imgResult/*
!imgResult/.gitkeep

# Ignore system files
.DS_Store
*/.DS_Store

# Ignore temporary files
*.tmp
*.temp